@model IEnumerable<D_real_social_app.Models.Feed>

@{
    ViewData["Title"] = "Feed";
}

<link rel="stylesheet" href="~/css/feed.css" asp-append-version="true" />

<div class="createPost">
    <form method="POST" action="/feed/uploadFile" enctype="multipart/form-data"> 
        <textarea placeholder="What's happening?" name="text" id="text"></textarea>
        <input type="file" name="file">
        <input type="submit" value="Post" class="btn btn-primary" />
    </form>
</div>

<div class="feed">
@foreach (var item in Model) {
    <div class="post">
        <div class="postHeader">
            <div class="userInfo">
                <img src="https://www.hostpapa.com/knowledgebase/wp-content/uploads/2018/04/1-13.png ">
                <p>@Html.DisplayFor(modelItem => item.UserName)</p>
            </div>
            <div class="postMeta">
                <p>@Html.DisplayFor(modelItem => item.Timestamp)</p>
            </div>
        </div>
        <div class="postText">
            <p>@Html.DisplayFor(modelItem => item.Text)</p>
        </div>
        <div class="postPhoto">
            <img src="@Html.DisplayFor(modelItem => item.PostPhoto)" >
        </div>
    </div>
    <br>
    <br>
}
</div>