.commentSection {
  display: flex;
  flex-direction: column;
}

.commentSection form {
  display: flex;
  justify-content: space-between;
}

.commentSection form img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

.commentSection form textarea {
  height: 40px;
  width: calc(100% - 130px);
  border-radius: 30px;
  padding: 5px 10px 0 10px;
}

.commentSection form input[type="submit"] {
  width: 60px;
}

.comment {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.comment img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin-right: 10px;
}

.comment .userName {
  margin-right: 10px;
  font-weight: 600;
}

.comment p {
  margin: 0;
}
