.createPost {
  background: #242526;
  margin: 0 auto 20px auto;
  border-radius: 15px;
  padding: 20px;
  max-width: 600px;
}

.createPost form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.createPost textarea {
  background: #525457;
  border: none;
  border-radius: 10px;
  outline: none;
  resize: none;
  padding: 5px 10px 0 10px;
  margin: 0 0 10px 0;
  z-index: 2;
  height: 53px;
  transition: height 1s;
}

.createPost textarea:focus {
  height: 100px;
}

.createPost div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.createPost input[type="submit"] {
  width: 20%;
  background: #ff8d36;
  border: #ff8d36;
}

.createPost label {
  color: rgb(65, 66, 68);
  background: rgb(228, 230, 235);
  border-radius: 3px;
  padding-top: 5px;
  width: 112px;
  text-align: center;
  cursor: pointer;
  height: 38px;
}

.createPost input[type="file"] {
  display: none;
}

#psError {
  margin-top: 10px;
  color: red;
  background: rgb(218, 155, 155);
  padding: 5px 10px 10px 10px;
  border-radius: 5px;
  width: 70%;
}

.feed {
  width: 600px;
  margin: 0 auto;
}

.post {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  padding: 20px 20px 20px 20px;
  background: #242526;
  color: rgb(228, 230, 235);
  border-radius: 15px;
}

.postHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userInfo {
  display: flex;
  align-items: center;
  height: 40px;
  font-weight: 500;
}

.userInfo img {
  height: 40px;
  border-radius: 60px;
}

.userInfo a,
p {
  margin: 0 0 0 10px;
  text-decoration: none;
}

.postMeta p {
  margin-top: 0;
  font-size: 13px;
  color: rgb(172, 172, 172);
}

.postText {
  margin: 20px 20px 10px 20px;
}

.postPhoto {
  margin: 0 auto;
}

.postPhoto img {
  max-height: 500px;
  max-width: 550px;
  border-radius: 10px;
}
